src/flows/Approval_Request_to_be_Revenue_Rep-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <label>Approval Request to be Revenue Rep</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Lookup_Opp_Line_Item</name>
        <label>Lookup Opp Line Item</label>
        <locationX>207</locationX>
        <locationY>190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Display_Data</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Display</targetReference>
        </faultConnector>
        <filters>
            <field>LastVersion__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppId</elementReference>
            </value>
        </filters>
        <object>Opportunity_Product__c</object>
        <outputAssignments>
            <assignToReference>OppProdId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Rev_Rep_Details</name>
        <label>Lookup Rev Rep Details</label>
        <locationX>200</locationX>
        <locationY>106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Opp_Line_Item</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>RevRepName</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>RevRepRevenueTeam</assignToReference>
            <field>Department</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RevRepId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opp_Product_Rep</name>
        <label>Update Opp Product Rep</label>
        <locationX>194</locationX>
        <locationY>346</locationY>
        <connector>
            <targetReference>Update_Opportunity_Rev_Rep_and_Rev_Team</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Display</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppProdId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Revenue_Rep__c</field>
            <value>
                <elementReference>RevRepId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Revenue_Team__c</field>
            <value>
                <elementReference>RevRepRevenueTeam</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity_Product__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Rev_Rep_and_Rev_Team</name>
        <label>Update Opportunity Rev Rep and Rev Team</label>
        <locationX>195</locationX>
        <locationY>440</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Purchase_Rep__c</field>
            <value>
                <elementReference>RevRepId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Team__c</field>
            <value>
                <elementReference>RevRepRevenueTeam</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Ask_for_Revenue_Rep</name>
        <label>Ask for Revenue Rep</label>
        <locationX>199</locationX>
        <locationY>18</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Lookup_Rev_Rep_Details</targetReference>
        </connector>
        <fields>
            <name>AskforRevenueRep</name>
            <fieldText>Who should be the revenue rep?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sales_Rep</name>
            <dataType>String</dataType>
            <fieldText>Sales Rep</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Display_Data</name>
        <label>Display Data</label>
        <locationX>198</locationX>
        <locationY>270</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Opp_Product_Rep</targetReference>
        </connector>
        <fields>
            <name>DisplayData</name>
            <fieldText>OppID: {!OppId}
OppProdID: {!OppProdId}

UserID: {!UserId}

RevRepID: {!RevRepId}
RevRepTeam: {!RevRepRevenueTeam}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Fault_Display</name>
        <label>Fault Display</label>
        <locationX>665</locationX>
        <locationY>241</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>FaultMessage</name>
            <fieldText>{!$Flow.FaultMessage}

{!$Flow.CurrentDate}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Ask_for_Revenue_Rep</startElementReference>
    <variables>
        <description>opportunity ID</description>
        <name>OppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Opportunity product ID of last version</description>
        <name>OppProdId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>UserID of User request to become the revenue rep</description>
        <name>RevRepId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Name input by the sales leader/admin to own the purchase</description>
        <name>RevRepName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Sales_Rep</elementReference>
        </value>
    </variables>
    <variables>
        <description>UserRevenueTeam</description>
        <name>RevRepRevenueTeam</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>User profile</description>
        <name>UserProfile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
