src/flows/Docusign_Status_Create_Updates-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <description>Updates made when a new Docusign Status is created</description>
    <label>Docusign Status Create Updates</label>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Docusign_Status_Object</name>
        <label>Update Docusign Status Object</label>
        <locationX>308</locationX>
        <locationY>216</locationY>
        <connector>
            <targetReference>Update_Quote</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>statusID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OppOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>dsfs__Company__c</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>dsfs__Opportunity__c</field>
            <value>
                <elementReference>OppId</elementReference>
            </value>
        </inputAssignments>
        <object>dsfs__DocuSign_Status__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Status</name>
        <label>Update Opportunity Status</label>
        <locationX>302</locationX>
        <locationY>514</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Finalizing Closure</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote</name>
        <label>Update Quote</label>
        <locationX>300</locationX>
        <locationY>367</locationY>
        <connector>
            <targetReference>Update_Opportunity_Status</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <startElementReference>Update_Docusign_Status_Object</startElementReference>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OppOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>statusID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
